services:
  db:
    environment:
      DB_NAME: finca_prod

  api:
    env_file:
      - ./backend/.env.prod
    environment:
      TZ: America/Guayaquil
      NODE_ENV: production
    # En prod normalmente NO montas el código, usas solo la imagen
    volumes: []
    # Y podrías cambiar el puerto mapeado si quieres:
    ports:
      - "8080:3000"
